@import url("https://fonts.googleapis.com/css2?family=Archivo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Archivo", sans-serif;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.css {
  display: flex;
  justify-content: center;
  vertical-align: center;
  position: relative;
  top: 21vh;
}

.container {
  border: 2px solid rgb(0, 0, 0);
  border-radius: 25px;
  background-color: #000000b8;
  width: 52vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 2rem;
  z-index: 1;
}
h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
  cursor: default;
  color: white;
}
.inpu {
  width: 100%;
}
#girdi {
  padding: 10px;
  width: 100%;
  text-align: center;
  border: none;
  color: white;
  background-color: #00000099;
  border-radius: 40px;
  border-bottom: 4px black;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 20px;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
}

.output {
  font-size: 3rem;
  cursor: default;
}

.durum,
.sehir,
.derece,
.time {
  text-transform: capitalize;
  padding-bottom: 20px;
  text-align: center;
  font-weight: 600;
}

.sehir {
  color: white;
}

.derece {
  font-size: 120px;
}

.time {
  font-size: 1.7rem;
  color: white;
}

.durum {
  display: inline;
  font-size: 2.5rem;
  color: white;
}
.dur {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  display: inline;
}

.img img {
  width: 5rem;
}
@media screen and (max-width: 1600px) {
  .container {
    width: 56vh;
  }
}
@media screen and (max-width: 1360px) {
  .container {
    width: 62vh;
  }
}
@media screen and (max-width: 1280px) {
  .container {
    width: 65vh;
  }
}
@media screen and (max-width: 720px) {
  .container {
    width: 75vh;
  }
}

#sidebar {
  border: 2px solid rgb(0, 0, 0);
  background-color: #000000b8;
  width: 200px;
  height: 100%;
  display: block;
  position: absolute;
  left: -200px;
  top: 0px;
  color: white;
  transition: left 0.3s linear;
  border-radius: 25px;
  text-align: center;
}
#sidebar p {
  margin-top: 3rem;
  font-size: 1.2rem;
  font-weight: 800;
}
#sidebar div {
  margin-top: 0.8rem;
  font-size: 1rem;
}

#sidebar.visible {
  left: 0px;
  transition: left 0.3s linear;
  opacity: 0;
}

#sidebar-btn {
  vertical-align: middle;
  width: 20px;
  height: 15px;
  cursor: pointer;
  margin: 20px;
  position: absolute;
  top: 0px;
  opacity: 1;
  left: 0;
}

#sidebar-btn span {
  height: 1px;
  background: rgb(255, 255, 255);
  margin-bottom: 5px;
  display: block;
  opacity: 1;
}

#sidebar-btn span:nth-child(2) {
  width: 75%;
}

#sidebar-btn span:nth-child(3) {
  width: 50%;
}

#sidebar {
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
#sidebar.fade {
  opacity: 1;
}
